# Cache 
__pycache__/

# File to test functions before implementing them
test_stuff.ipynb
test_stuff.py
read_test_counts.py
Datasets.txt
jank_unlabel.py

# Outputs and Results
Results/

# Training arguments
training_arguments.json

# Test tracker sheet
Testing.xlsx

# Parameters
eval_arguments.json
training_arguments.json
test_arguments.json
test_arguments_phase4.json
test_arguments_phase4_20.json